<!-- Apply filters, start with using DOM to clear the div -->

<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs')  %> 
<body>
    <h1>Pokedex</h1>
    <div id = "images">
        <% for (let i = 0; i < pokemons.length; i++) {%>
        <a href = "/pokemon/<%=i%>" ><img src = "<%= pokemons[i].img %>" height = 50px width="50px"></a>
        <% } %>
        <a href = "/pokemon/new"><button>NEW</button></a>
    </div>
    <div>
        <button id = "clear">CLEAR</button>
    </div>
    <form id="typeFilter">
        <input type="text" name="typequery" placeholder="Filter for type">
        <input type="submit">
    </form>
</body>
<script>
    const picgrid = $("#images")
    const button = $("#clear")
    const typeFilter = $('#typeFilter')
    const filterTextInput = $('input[type="text"]')

    function clearer(){picgrid.empty()};
    button.on("click",clearer)

    typeFilter.on("submit",function(event){
        event.preventDefault();
        console.log(filterTextInput.val())

    })


</script>
</html>